<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quotes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ButtonOne">
            <intent-filter>
                <action android:name="com.quotes.ButtonOne"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ButtonTwo">
            <intent-filter>
                <action android:name="com.quotes.ButtonTwo"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ButtonThree">
            <intent-filter>
                <action android:name="com.quotes.ButtonThree"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ButtonFour">
            <intent-filter>
                <action android:name="com.quotes.ButtonFour"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ButtonFive">
            <intent-filter>
                <action android:name="com.quotes.ButtonFive"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ButtonSix">
            <intent-filter>
                <action android:name="com.quotes.ButtonSix"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".JeffBezos"></activity>
        <activity android:name=".ElonMusk"></activity>
        <activity android:name=".JacKMa"></activity>
        <activity android:name=".MarkZuckerberg"></activity>
        <activity android:name=".MalalaYousafzai"></activity>
        <activity android:name=".SteveJobs"></activity>
    </application>

</manifest>